<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Arena Atmostphere</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='dist/css/output.css')}}"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<script
			defer
			src="{{ url_for('static', filename='speech.js') }}"
		></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>

		<script
			defer
			src="{{ url_for('static',filename='dynamic.js') }}"
		></script>
		<script
			defer
			src="{{ url_for('static', filename='interact.js') }}"
		></script>
	</head>
	<body class="p-4 font-montserrat">
		<div
			id="speech-overlay"
			class="fixed z-10 top-0 left-0 right-0 bottom-0 bg-black/40 p-4 invisible transition-opacity opacity-0"
		>
			<div class="min-h-14 p-4 bg-primary w-full rounded-xl space-y-1">
				<p class="font-montserrat text-lg font-bold">Speech</p>
				<p id="speech-output" class="font-montserrat"></p>
			</div>
		</div>
		<div
			id="interaction-overlay"
			class="fixed z-50 top-0 left-0 right-0 bottom-0 bg-black/40 p-4 invisible transition-opacity opacity-0"
		>
			<div class="min-h-14 p-4 bg-primary w-full rounded-xl space-y-1">
				<p class="font-montserrat text-lg font-bold">
					Allow Interactions
				</p>
				<p class="font-montserrat">
					Please allow microphone usage for voice commands and click
					on the confirm button to allow playing of sounds.
				</p>
				<button
					onclick="hideInteractionOverlay()"
					class="bg-secondary px-3 py-2 rounded-lg font-bold"
				>
					Confirm
				</button>
			</div>
		</div>
		<header class="flex fixed z-[5] justify-between items-center mb-6">
			<a href="/">
				<div class="bg-primary rounded-xl p-3">
					<img
						class="w-6 h-6"
						src="../static/assets/Frameplay.svg"
						alt="menuIcon"
					/>
				</div>
			</a>
		</header>

		<div id="container" class="hidden">
			<video autoplay playsinline id="videoElement"></video>
			<canvas id="canvas" width="1920" height="1080"></canvas>
		</div>

		<div class="video w-screen h-screen absolute top-0 left-0">
			<img
				id="photo"
				width="1920"
				height="1080"
				class="object-contain h-full w-full"
			/>
			<!-- <h1>video</h1> -->
		</div>
	</body>
</html>
