<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Arena Atmostphere</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='dist/css/output.css')}}"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<script
			defer
			src="{{ url_for('static', filename='speech.js') }}"
		></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>

		<div id="container">
			<video autoplay playsinline id="videoElement"></video>
			<canvas id="canvas" width="400" height="300"></canvas>
		</div>

		<div class="video">
			<img id="photo" width="400" height="300" />
			<!-- <h1>video</h1> -->
		</div>
		<script src="{{ url_for('static',filename='dynamic.js') }}"></script>
	</head>
	<body class="p-4 font-montserrat">
		<div
			id="speech-overlay"
			class="fixed top-0 left-0 right-0 bottom-0 bg-black/40 p-4 invisible transition-opacity opacity-0"
		>
			<div class="min-h-14 p-4 bg-primary w-full rounded-xl space-y-1">
				<p class="font-montserrat text-lg font-bold">Speech</p>
				<p id="speech-output" class="font-montserrat"></p>
			</div>
		</div>
		<h1 class="text-blue-600">Hello, dynamic!</h1>
	</body>
</html>
