<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Basketball Vibe</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='dist/css/output.css')}}"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<script
			defer
			src="{{ url_for('static', filename='home.js') }}"
		></script>
		<script
			defer
			src="{{ url_for('static', filename='speech.js') }}"
		></script>
	</head>
	<body class="p-4 font-montserrat">
		<div
			id="speech-overlay"
			class="fixed top-0 left-0 right-0 bottom-0 bg-black/40 p-4 invisible transition-opacity opacity-0"
		>
			<div class="min-h-14 p-4 bg-primary w-full rounded-xl space-y-1">
				<p class="font-montserrat text-lg font-bold">Speech</p>
				<p id="speech-output" class="font-montserrat"></p>
			</div>
		</div>
		<header class="flex justify-between items-center mb-6">
			<div class="text-3xl font-bold">
				<h1>Scenario's</h1>
			</div>
			<div class="bg-primary rounded-xl p-4">
				<img src="../static/assets/FramemenuChart.svg" alt="menuIcon" />
			</div>
		</header>
		<main>
			<h2 class="text-xl mb-4">
				Choose a scenario you will play today or check out our newest
				feature: Dynamic scenario!
			</h2>
			<a href="{{ url_for('dynamic') }}">
				<div class="bg-primary h-28 w-full mb-3 rounded-xl">
					<p class="p-4 font-montserrat font-bold">Dynamic Mode</p>
				</div>
			</a>
			<div>
				<ol class="space-y-3" id="soundList"></ol>
			</div>
			<div id="output"></div>
		</main>
	</body>
</html>
